
body{
	font-family: arial, sans-serif;
	margin: 0px;
	font-size: 1rem;
	width: 100%;
	background-color: #eee;
}
html{
	background-color: #eee;
}
/*-------------------------------head.................................*/

.head{
background-color: red;
height:111.562px;
width:100%;
text-align: center;
position: sticky;
top: 0px;
}
/*-------------------------------body.................................*/

.body-container{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f5f5f5;
	text-align: center;
}
.body-container .body-head{
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	background-color: #fff;
	flex-basis: 352.969px;
	width: 1350px;
	padding-top: 30px;
}
		.body-container .body-head .body-head-slide{
			
			background-color: #fff;
			flex-basis: auto;
			width: 1200px;

		}
		.body-container .body-head .body-head-RNe{
			background-color: #fff;
			flex-basis: 100px;
			width: 1200px;

		}
.body-container .body-category{

	background-color: #f5f5f5;
	height: 395px;
	width: 1200px;
}
.body-container .body-flash-sale{
	background-color: #eee;
	flex-basis: 316px;
	width: 1200px;
}
.body-container .body-shopee-mall{
	background-color: #ddd;
	flex-basis: 506px;
	width: 1200px;
}
.body-container .body-shampo-now{
	background-color: #eee;
	flex-basis: 140px;
	width: 1200px;
}
.body-container .body-search-trends{
	background-color: #ddd;
	flex-basis: 151px;
	width: 1200px;
}
.body-container .body-top-search{
	background-color: #eee;
	flex-basis: 382.250px; /*padding-botom : 65,625px*/
	width: 1200px;
}
.body-container .body-suggestion-today{
	background-color: #ddd;
	flex-basis: 2355.690px;
	width: 1200px;
}

/*-------------------------------footer.................................*/

footer .footer-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	text-align: center;
}
footer .footer-container .ft-header{
	background-color: #eee;
	flex-basis: 994.500px;
	width: 1125px;
}
footer .footer-container .ft-category{
	background-color: #ddd;
	flex-basis: 1559.750px;
	width: 1125px;
}
footer .footer-container .ft-footer{
	background-color: #eee;
	flex-basis: 907.656px;
	width: 1125px;
}

