.RNe{
	display: flex;
	width: 1200px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}
.RNe .contain{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-basis: 100px;
	height: 108px;
	flex-wrap: 0;
	flex-shrink: 0;

}
.RNe .contain a{
	text-decoration: none;
}
.RNe .contain a .items{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 66%;	
	transition:all 50ms;
}
.RNe .contain a .items:hover{
	transform: translate(0,-1px);
}	
.RNe .contain a .items .item-img{
	margin-bottom: 10px;
	flex-shrink: 0;
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-size: contain;
}
.RNe .contain a .items .item-text{
	color: #222;
	height: 26px;
	font-size: .875rem;
	line-height: 1.25rem;
	text-align: center;
	margin-bottom: 10px;
	text-transform: capitalize;
}


.grid-container {
	display: grid;
	grid-template-columns: 67% 33%;
	grid-gap: 4.7px;
	padding:0px;
	height: 235.078px;
}

.grid-container .item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("https://cf.shopee.vn/file/cf803b427e9e60d73a03d8e92f4410e2_xxhdpi"); 
background-size: cover; 
background-repeat: no-repeat;
}
.grid-container .item2 {

  background-image: url("https://cf.shopee.vn/file/cf803b427e9e60d73a03d8e92f4410e2_xxhdpi"); 
background-size: cover; 
background-repeat: no-repeat;
}
.grid-container .item3 {

  background-image: url("https://cf.shopee.vn/file/cf803b427e9e60d73a03d8e92f4410e2_xxhdpi"); 
background-size: cover; 
background-repeat: no-repeat;
}